* {
  margin: 0;
  padding: 0;
}

:root {
  --branco-principal: #fff;
  --cinza-secundario: #c0c0c0;
  --botao-azul: #167bf7;
  --cor-de-fundo: #00030c;

  --font-inter: "Inter", sans-serif;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--font-inter);
  font-size: 1rem;
  font-weight: 400;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.principal {
  background-image: url(img/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.container__caixa {
  margin: 0 6em;
}

.container__titulo {
  font-size: 1.75rem;
  font-weight: 700;
}

.container__imagem {
  margin: 1em 0 2em 0;
}

.container__botao {
  display: block;
  background-color: var(--botao-azul);
  color: var(--branco-principal);
  text-decoration: none;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 1em;
}

.botao_secundario {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
}

.container__aviso {
  font-size: 0.75rem;
  color: var(--cinza-secundario);
}

.secundario {
  align-items: center;
  margin: 0 10.06em;
}

.secundario__imagem {
  width: 80%;
}

.descricao__titulo {
  font-size: 3rem;
  font-weight: 700;
  color: var(--branco-principal);
  margin-bottom: 0.5em;
}

.descricao__texto {
  color: var(--cinza-secundario);
}

.container__descricao {
  padding-right: 4.3em;
}

.secundario__botao {
  display: inline-block;
  margin-top: 1em;
}

.dispositivos {
  text-align: center;
  margin-bottom: 9.063em;
}

.dispositivos__titulo {
  font-size: 3rem;
  margin-bottom: 2.5em;
  font-weight: bold;
  color: var(--branco-principal);
}

.dispositivos__listas {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 4.25rem;
}

.lista__item {
  font-size: 2rem;
  font-weight: bold;
  color: var(--branco-principal);
}

.rodape {
  text-align: center;
}

.rodape__caixa {
  margin: 0 7.5em;
}

.rodape__logo {
  margin-bottom: 2.5em;
}

.rodape__lista {
  display: flex;
  justify-content: center;
  gap: 1em;
  list-style-type: none;
  margin-bottom: 1.5em;
}

.lista__link a {
  color: var(--branco-principal);
  text-decoration: none;
  font-size: 1rem;
}

.lista__link a:hover {
  color: var(--botao-azul);
}

.rodape__texto {
  color: var(--cinza-secundario);
  font-size: 0.875rem;
}

.texto__secundario {
  margin: 2em 0 6.188em 0;
}
